{% extends '/back/base.html.twig' %}

{% block title %}Pack{% endblock %}

{% block body %}
    <div class="container-fluid" style="margin-top: 40px; overflow-x: auto;">
        <div class="row">
            <div class="col-md-3" style="padding-right: 20px;">
                {# Ajoutez votre barre latérale ici #}
            </div>
            <div class="col-md-9">
                <div class="table-container">
                    <table class="table">
                        <thead>
                            <tr>
                                            <th style="width: 30%;">Id_eventd</th>
                                            <th style="width: 60%;">Type_event</th>
                                            <th style="width: 30%;">Duree_event</th>  
                                             <th style="width: 30%;">Date_event</th>
                                            <th style="width: 60%;">Nom_event</th>
                                            <th style="width: 30%;">actions</th>    

                
            </tr>
        </thead>
        <tbody>
        {% for evenement in evenements %}
            <tr>
                <td>{{ evenement.idEvent }}</td>
                <td>{{ evenement.typeEvent }}</td>
                <td>{{ evenement.dureeEvent }}</td>
                <td>{{ evenement.dateEvent ? evenement.dateEvent|date('Y-m-d') : '' }}</td>
                <td>{{ evenement.nomEvent }}</td>
                <td>
                    <a href="{{ path('app_evenement_show', {'id_event': evenement.idEvent}) }}" class="btn btn-primary" style="border-radius: 10px;">show</a>
                    <a href="{{ path('app_evenement_edit', {'id_event': evenement.idEvent}) }}" class="btn btn-warning" style="border-radius: 10px;">edit</a>
                    <a href="{{ path('app_evenement_edit', {'id_event': evenement.idEvent}) }}" class="btn btn-danger" style="border-radius: 10px;">delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="text-center">
        <a href="{{ path('app_evenement_new') }}" class="btn btn-success" style="border-radius: 10px;"><span class="bi bi-cart-plus"></span> Create new</a>
    </div>
    <a href="{{ path('app_evenements_pdf') }}" class="btn-download-pdf">Télécharger le PDF</a>



{% endblock %}

