

{% block title %}Hello FrontController!{% endblock %}
{% block stylesheets %}
            <!-- plugins:css -->
  <link rel="stylesheet" href="{{asset('back/vendors/feather/feather.css')}}">
  <link rel="stylesheet" href="{{asset('back/vendors/ti-icons/css/themify-icons.css')}}">
  <link rel="stylesheet" href="{{asset('back/vendors/css/vendor.bundle.base.css')}}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="{{asset('back/vendors/datatables.net-bs4/dataTables.bootstrap4.css')}}">
  <link rel="stylesheet" href="{{asset('back/vendors/ti-icons/css/themify-icons.css')}}">
  <link rel="stylesheet" type="{{asset('back/text/css" href="js/select.dataTables.min.css')}}">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{{asset('back/css/vertical-layout-light/style.css')}}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{{asset('back/images/favicon.png')}}" />
        {% endblock %}

{% block navbar %}
<nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo mr-5" href="{{asset('back/base.html.twig')}}"><img src="{{asset('back/images/logo.png')}}" class="mr-2" alt="logo"/></a>
        <a class="navbar-brand brand-logo-mini" href="{{asset('back/base.html')}}"><img src="{{asset('images/logo.png')}}" alt="logo"/></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="icon-menu"></span>
        </button>
        <ul class="navbar-nav mr-lg-2">
          <li class="nav-item nav-search d-none d-lg-block">
            <div class="input-group">
              <div class="input-group-prepend hover-cursor" id="navbar-search-icon">
                <span class="input-group-text" id="search">
                  <i class="icon-search"></i>
                </span>
              </div>
              <input type="text" class="form-control" id="navbar-search-input" placeholder="Search now" aria-label="search" aria-describedby="search">
            </div>
          </li>
        </ul>
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item dropdown">
            <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
              <i class="icon-bell mx-0"></i>
              <span class="count"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
              <p class="mb-0 font-weight-normal float-left dropdown-header">Notifications</p>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-success">
                    <i class="ti-info-alt mx-0"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <h6 class="preview-subject font-weight-normal">Application Error</h6>
                  <p class="font-weight-light small-text mb-0 text-muted">
                    Just now
                  </p>
                </div>
              </a>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-warning">
                    <i class="ti-settings mx-0"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <h6 class="preview-subject font-weight-normal">Settings</h6>
                  <p class="font-weight-light small-text mb-0 text-muted">
                    Private message
                  </p>
                </div>
              </a>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-info">
                    <i class="ti-user mx-0"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <h6 class="preview-subject font-weight-normal">New user registration</h6>
                  <p class="font-weight-light small-text mb-0 text-muted">
                    2 days ago
                  </p>
                </div>
              </a>
            </div>
          </li>
          <a href="{{ path('app_logout') }}">log out</a>

          <li class="nav-item nav-profile dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
              <img src="images/faces/face28.jpg" alt="profile"/>
            </a>

            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
              <a class="dropdown-item">
                <i class="ti-settings text-primary"></i>
                Settings
              </a>
              <a class="dropdown-item">
                <i class="ti-power-off text-primary"></i>
                Logout
              </a>
            </div>
          </li>
          <li class="nav-item nav-settings d-none d-lg-flex">
            <a class="nav-link" href="#">
              <i class="icon-ellipsis"></i>
            </a>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="icon-menu"></span>
        </button>
      </div>
    </nav>

{% endblock %}


{% block sidebar %}
<div class="container-fluid page-body-wrapper">
<nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="index.html'>
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#PACK" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title"> Gestion Pack </span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="PACK">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{{asset('back/pages/ui-features/buttons.html')}}">Buttons</a></li>
                <li class="nav-item"> <a class="nav-link" href="{{asset('back/pages/ui-features/dropdowns.html')}}">Dropdowns</a></li>
                <li class="nav-item"> <a class="nav-link" href="{{asset('back/pages/ui-features/typography.html')}}">Typography</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#transport" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Gestion Transport</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="transport">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{{asset('back/pages/ui-features/buttons.html')}}">Buttons</a></li>
                <li class="nav-item"> <a class="nav-link" href="{{asset('back/pages/ui-features/dropdowns.html')}}">Dropdowns</a></li>
                <li class="nav-item"> <a class="nav-link" href="{{asset('back/pages/ui-features/typography.html')}}">Typography</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#blog" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Gestion Blog</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="blog">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{{asset('back/pages/ui-features/buttons.html')}}">Buttons</a></li>
                <li class="nav-item"> <a class="nav-link" href="{{asset('back/pages/ui-features/dropdowns.html')}}">Dropdowns</a></li>
                <li class="nav-item"> <a class="nav-link" href="{{asset('back/pages/ui-features/typography.html')}}">Typography</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#Utilisateur" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Gestion Utilisateur</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="Utilisateur">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{{asset('back/pages/ui-features/buttons.html')}}">Buttons</a></li>
                <li class="nav-item"> <a class="nav-link" href="{{asset('back/pages/ui-features/dropdowns.html')}}">Dropdowns</a></li>
                <li class="nav-item"> <a class="nav-link" href="{{asset('back/pages/ui-features/typography.html')}}">Typography</a></li>
              </ul>
            </div>
          </li>
           <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#evenement" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Gestion Evenement</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="evenement">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{{asset('back/pages/ui-features/buttons.html')}}">Buttons</a></li>
                <li class="nav-item"> <a class="nav-link" href="{{asset('back/pages/ui-features/dropdowns.html')}}">Dropdowns</a></li>
                <li class="nav-item"> <a class="nav-link" href="{{asset('back/pages/ui-features/typography.html')}}">Typography</a></li>
              </ul>
            </div>
          </li>
            <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#Hebergement" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Gestion Hebergement</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="Hebergement">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{{asset('back/pages/ui-features/buttons.html')}}">Buttons</a></li>
                <li class="nav-item"> <a class="nav-link" href="{{asset('back/pages/ui-features/dropdowns.html')}}">Dropdowns</a></li>
                <li class="nav-item"> <a class="nav-link" href="{{asset('back/pages/ui-features/typography.html')}}">Typography</a></li>
              </ul>
            </div>
          </li>
         </nav> 
         
{% endblock %}

       
{% block body %}

    <div class="main-panel">
      <div class="content-wrapper">
      <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <p class="card-title">Tableau d'utilisateurs:</p>
                  <div class="row">
                    <div class="col-12">
                      <div class="table-responsive">
                        <div id="example_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer"><div class="row"><div class="col-sm-12 col-md-6"></div><div class="col-sm-12 col-md-6"></div></div><div class="row"><div class="col-sm-12"><table id="example" class="display expandable-table dataTable no-footer" style="width: 100%;" role="grid">
                          <thead>
                            <tr role="row"><th class="select-checkbox sorting_disabled" rowspan="1" colspan="1" aria-label="Quote#" style="width: 55px;">Id</th>
                            <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Business type: activate to sort column ascending" style="width: 103px;">Nom</th>
                            <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Business type: activate to sort column ascending" style="width: 103px;">Prenom</th>
                            <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Premium: activate to sort column ascending" style="width: 103px;">Email</th>
                            <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 103px;">Mot de passe</th>
                            
                            <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Business type: activate to sort column ascending" style="width: 50px;">Supprimer</th>
                            <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Business type: activate to sort column ascending" style="width: 50px;">Modifier</th>
                            <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Business type: activate to sort column ascending" style="width: 50px;">Confirmer</th>
                            <th class="details-control sorting_disabled" rowspan="1" colspan="1" aria-label="" style="width: 2px;"></th></tr>
                          </thead>
                      <tbody>
                      {% for User in r %}
                         <tr class="odd">
                         
        
           <td>{{ User.id }}</td>
           <td>{{ User.nom }}</td>
           <td>{{ User.prenom }}</td>
           <td>{{ User.email }}</td>
           <td>{{ User.password }}</td>
           
           <td><a href="{{ path('supp_user', {'id':User.id}) }}"style="color: #000000" class="badge badge-danger">supprimer</a></td>
           <td><a href="{{ path('modifuser', {'id':User.id}) }}"style="color: #000000" class="badge badge-success">modifier</a></td>
           <td><a href="{{ path('confirm', {'id':User.id}) }}"style="color: #000000" class="badge badge-warning">administration</a></td>
          </tr>
        
        {% endfor %}
                           
                        
                      </tbody>
                      </table></div></div><div class="row"><div class="col-sm-12 col-md-5"></div><div class="col-sm-12 col-md-7"></div></div></div>
                      </div>
                    </div>
                  </div>
                  </div>
                </div>

                
              </div>
            </div>
            </div>
            </div>
            </div>
            
  

 {% endblock %}

 