{{ form_start(form, {'attr': {'class': 'my-form-class'}}) }}
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(form.type_hebergement, 'Type of Accommodation', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.type_hebergement, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(form.emplacement, 'Location', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.emplacement, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(form.nbr_etoile, 'Number of Stars', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.nbr_etoile, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.description, 'Description', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.description, {'attr': {'class': 'form-control', 'rows': 3}}) }}
    </div>
    <button type="submit" class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
