<<<<<<< HEAD
{% extends '/back/base.html.twig' %}

{% block body %}
    <style>
        .custom-form-background {
            background-color: #f8f9fa; /* Couleur d'arrière-plan */
            padding: 20px; /* Marge intérieure pour l'espace autour du formulaire */
            border-radius: 10px; /* Arrondi les coins du formulaire */
        }
        .error-message {
            color: #721c24; /* Couleur du texte pour les messages d'erreur */
            background-color: #f8d7da; /* Couleur de fond pour les messages d'erreur */
            padding: 10px; /* Marge intérieure pour l'espace autour du message d'erreur */
            border-radius: 5px; /* Arrondi les coins du message d'erreur */
            margin-top: 5px; /* Marge supérieure pour l'espace entre le message d'erreur et le champ de saisie */
        }
    </style>

    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card custom-form-background">
                    <div class="card-body">
                        <h5 class="card-title mb-4 text-center">Create New Pack</h5>{{ form_start(form, {'attr': {'class': 'my-form-class'}}) }}
=======
{{ form_start(form, {'attr': {'class': 'my-form-class'}}) }}
>>>>>>> 548d40ec88cd07c4e85f14ea41c71c280447db44
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(form.type_hebergement, 'Type of Accommodation', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.type_hebergement, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(form.emplacement, 'Location', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.emplacement, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
<<<<<<< HEAD
         <div class="col-md-6">
            <div class="form-group">
                {{ form_label(form.name, 'name', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
         <div class="col-md-6">
            <div class="form-group">
                {{ form_label(form.prix, 'prix', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.prix, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
=======
>>>>>>> 548d40ec88cd07c4e85f14ea41c71c280447db44
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(form.nbr_etoile, 'Number of Stars', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.nbr_etoile, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.description, 'Description', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.description, {'attr': {'class': 'form-control', 'rows': 3}}) }}
    </div>
    <button type="submit" class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
<<<<<<< HEAD
  </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
=======
>>>>>>> 548d40ec88cd07c4e85f14ea41c71c280447db44
