<<<<<<< HEAD
{% extends 'front/base.html.twig' %}
=======
{% extends 'front.html.twig' %}
>>>>>>> 548d40ec88cd07c4e85f14ea41c71c280447db44

{% block title %}Hebergement index{% endblock %}

{% block body %}
<<<<<<< HEAD
    <div class="container">
        <h1 class="text-center mb-5">Hebergement Index</h1>

        <div class="row justify-content-center">
        {% for hebergement in hebergements %}
            {# <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title text-center mb-4" style="color: purple; font-weight: bold; font-size: 24px;">{{ hebergement.typeHebergement }}</h5>
                        <p class="card-text"><strong style="color: orange;">Emplacement:</strong> {{ hebergement.emplacement }}</p>
                        <p class="card-text"><strong style="color: orange;">Nombre d'étoiles:</strong> {{ hebergement.nbrEtoile }}</p>
                        <p class="card-text"><strong style="color: orange;">Description:</strong> {{ hebergement.description }}</p>
                        <div class="mt-4">
                        
                        <div class="button"><div class="button_bcg"></div><a href="{{ path('app_showlisting', {'Id': hebergement.Id}) }}" >see more2<span></span><span></span><span></span></a></div></div> 
                    </div>
                </div>
            </div> #}
            <div class="offers_item rating_4">
							<div class="row">
								<div class="col-lg-1 temp_col"></div>
								<div class="col-lg-3 col-1680-4">
									<div class="offers_image_container">
										<!-- Image by https://unsplash.com/@kensuarez -->
										<div class="offers_image_background" style="background-image:url(images/offer_1.jpg)"></div>
                                         <div class="text-center">
                            <img src="{{ asset('/front/images/offer_1.jpg') }}" alt="Description of the image" style="max-width: 100%; height: auto;">
                        </div>
										<div class="offer_name"><a href="single_listing.html">{{ hebergement.name }}</a></div>
									</div>
								</div>
								<div class="col-lg-8">
									<div class="offers_content">
										<div class="offers_price">{{ hebergement.prix }}dt<span>per night</span></div>
                                        <p class="offers_text">type d'hebergement : {{ hebergement.typeHebergement }}</p>
                                        <p class="offers_text">{{ hebergement.description }}</p>

                                        <div class="offers_price">{{ hebergement.nbrEtoile }} etoiles</span></div>
										<div class="button book_button"><a href="{{ path('app_showlisting', {'Id': hebergement.Id}) }}">see more <span></span><span></span><span></span></a></div>
										<div class="offer_reviews">
                                        
											<div class="offer_reviews_content">
												<div class="offer_reviews_title">emplacement : {{ hebergement.emplacement }}</div>
											</div>
										</div>
									</div>
                                    
								</div>
							</div>
						</div>
        {% else %}
            <div class="col">
                <p class="text-center">No records found.</p>
            </div>
        {% endfor %}
        </div>

        {# <a href="{{ path('app_hebergement_controller2_new') }}" class="btn btn-warning">Create new</a> #}
    </div>
=======
    <h1>Hebergement index</h1>

    <div class="row">
    {% for hebergement in hebergements %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ hebergement.typeHebergement }}</h5>
                    <p class="card-text"><strong>Emplacement:</strong> {{ hebergement.emplacement }}</p>
                    <p class="card-text"><strong>Nombre d'étoiles:</strong> {{ hebergement.nbrEtoile }}</p>
                    <p class="card-text"><strong>Description:</strong> {{ hebergement.description }}</p>
                    <a href="{{ path('app_hebergement_controller2_show', {'Id': hebergement.Id}) }}" class="btn btn-primary">Show</a>
                    {# <a href="{{ path('app_hebergement_controller2_delete', {'Id': hebergement.Id}) }}" class="btn btn-danger">Delete</a> #}
                </div>
            </div>
        </div>
    {% else %}
        <div class="col">
            <p>No records found.</p>
        </div>
    {% endfor %}
    </div>

    {# <a href="{{ path('app_hebergement_controller2_new') }}" class="btn btn-warning">Create new</a> #}
>>>>>>> 548d40ec88cd07c4e85f14ea41c71c280447db44
{% endblock %}
