{% extends '/back/base.html.twig' %}

{% block title %}Pack{% endblock %}

{% block body %}
    <div class="container-fluid" style="margin-top: 40px; overflow-x: auto;">
        <div class="row">
            <div class="col-md-3" style="padding-right: 20px;">
                {# Ajoutez votre barre latérale ici #}
            </div>
            <div class="col-md-9">
                <div class="table-container">
                    <table class="table">
                        <thead>
                            <tr>
                    <div class="text-center mb-4">
                        <button class="btn btn-primary mr-2" id="allBtn">All</button>
                        <button class="btn btn-primary mr-2" id="hotelBtn">Hotel</button>
                        <button class="btn btn-primary mr-2" id="airbnbBtn">Airbnb</button>
                        <button class="btn btn-primary mr-2" id="maisonBtn">Maison d'haute</button>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-striped table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Type</th>
                                    <th scope="col">name</th>
                                    <th scope="col">prix</th>
                                    <th scope="col">Emplacement</th>
                                    <th scope="col">Number of Stars</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for hebergement in hebergements %}
                                <tr class="hebergementRow" data-type="{{ hebergement.typeHebergement }}">
                                    <td>{{ hebergement.Id }}</td>
                                    <td>{{ hebergement.typeHebergement }}</td>
                                    <td>{{ hebergement.name }}</td>
                                    <td>{{ hebergement.prix }}</td>
                                    <td>{{ hebergement.emplacement }}</td>
                                    <td>{{ hebergement.nbrEtoile }}</td>
                                    <td>{{ hebergement.description }}</td>
                                    <td>
                                        <a href="{{ path('app_hebergement_controller2_show', {'Id': hebergement.Id}) }}" class="btn btn-primary mr-2">Show</a>
                                        <a href="{{ path('app_hebergement_controller2_edit', {'Id': hebergement.Id}) }}" class="btn btn-success mr-2">Edit</a>
                                        {# <a href="{{ path('app_hebergement_controller2_delete', {'Id': hebergement.Id}) }}" class="btn btn-danger">Delete</a> #}
                                    </td>
                                </tr>
                                {% else %}
                                <tr>
                                    <td colspan="6" class="text-center">No records found</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="text-center mt-4">
                        <a href="{{ path('app_hebergement_controller2_new') }}" class="btn btn-warning">Create New</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function(){
        console.log("Document ready");

        // Hotel button click event handler
        $("#hotelBtn").on('click', function(){
            console.log("Hotel button clicked");
            // Hide all rows
            $(".hebergementRow").hide();
            // Show rows with data-type="Hotel"
            $(".hebergementRow[data-type='hotel']").show();
        });
         // Hotel button click event handler
        $("#airbnbBtn").on('click', function(){
            console.log("airbnb button clicked");
            // Hide all rows
            $(".hebergementRow").hide();
            // Show rows with data-type="Hotel"
            $(".hebergementRow[data-type='air bnb']").show();
        });
         // Hotel button click event handler
        $("#maisonBtn").on('click', function(){
            console.log("maison button clicked");
            // Hide all rows
            $(".hebergementRow").hide();
            // Show rows with data-type="Hotel"
            $(".hebergementRow[data-type='maison dhaute']").show();
        });

        // All button click event handler
        $("#allBtn").on('click', function(){
            console.log("All button clicked");
            // Show all rows
            $(".hebergementRow").show();
        });
    });
</script>


{% endblock %}
