<<<<<<< HEAD
{% extends '/back/base.html.twig' %}

{% block title %}Hebergement Details{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title text-center mb-4">Hebergement Details</h1>

                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <tbody>
                                <tr>
                                    <th scope="row" style="width: 30%;">Id</th>
                                    <td>{{ hebergement.Id }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Type</th>
                                    <td>{{ hebergement.typeHebergement }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Emplacement</th>
                                    <td>{{ hebergement.emplacement }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Nombre d'étoiles</th>
                                    <td>{{ hebergement.nbrEtoile }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Description</th>
                                    <td>{{ hebergement.description }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">name</th>
                                    <td>{{ hebergement.name }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">prix</th>
                                    <td>{{ hebergement.prix }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="text-center">
                        <a href="{{ path('app_hebergement_controller2_index') }}" class="btn btn-primary mr-2">Back to List</a>
                        <a href="{{ path('app_hebergement_controller2_edit', {'Id': hebergement.Id}) }}" class="btn btn-warning mr-2">Edit</a>
                        {{ include('hebergement_controller2/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
=======
{% extends 'back.html.twig' %}

{% block title %}Hebergement{% endblock %}

{% block body %}
    <h1>Hebergement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ hebergement.Id }}</td>
            </tr>
            <tr>
                <th>Type_hebergement</th>
                <td>{{ hebergement.typeHebergement }}</td>
            </tr>
            <tr>
                <th>Emplacement</th>
                <td>{{ hebergement.emplacement }}</td>
            </tr>
            <tr>
                <th>Nbr_etoile</th>
                <td>{{ hebergement.nbrEtoile }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ hebergement.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_hebergement_controller2_index') }}">back to list</a>

    <a href="{{ path('app_hebergement_controller2_edit', {'Id': hebergement.Id}) }}">edit</a>

    {{ include('hebergement_controller2/_delete_form.html.twig') }}
>>>>>>> 548d40ec88cd07c4e85f14ea41c71c280447db44
{% endblock %}
