<!DOCTYPE html>

<title>ReservationPack index</title>

{% block body %}
    <h1>ReservationPack index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DateReservation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation_pack in reservation_packs %}
            <tr>
                <td>{{ reservation_pack.id }}</td>
                <td>{{ reservation_pack.dateReservation ? reservation_pack.dateReservation|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_reservation_pack_show', {'id': reservation_pack.id}) }}">show</a>
                    <a href="{{ path('app_reservation_pack_edit', {'id': reservation_pack.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_reservation_pack_new') }}">Create new</a>
{% endblock %}
