<!DOCTYPE html>

<title>ReservationPack</title>

{% block body %}
    <h1>ReservationPack</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reservation_pack.id }}</td>
            </tr>
            <tr>
                <th>DateReservation</th>
                <td>{{ reservation_pack.dateReservation ? reservation_pack.dateReservation|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_reservation_pack_index') }}">back to list</a>

    <a href="{{ path('app_reservation_pack_edit', {'id': reservation_pack.id}) }}">edit</a>

    {{ include('reservation_pack/_delete_form.html.twig') }}
{% endblock %}
