{% extends '/back/base.html.twig' %}

{% block title %}Pack{% endblock %}

{% block body %}
    <div class="container-fluid" style="margin-top: 40px; overflow-x: auto;">
        <div class="row">
            <div class="col-md-3" style="padding-right: 20px;">
                {# Ajoutez votre barre latérale ici #}
            </div>
            <div class="col-md-9">
                <div class="table-container">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nom Pack</th>
                                <th>Type Pack</th>
                                <th>Description Pack</th>
                                <th>Prix</th>
                                <th>Date</th>
                                <th>Image</th>
                                <th>show</th>
                                <th>edit</th>
                                <th>delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for pack in packs %}
                                <tr>
                                    <td>{{ pack.id_pack }}</td>
                                    <td>{{ pack.getNomPack() }}</td>
                                    <td>{{ pack.getTypePack() }}</td> {# Utilisez la méthode getTypePack() pour obtenir le nom du type de pack #}
                                    <td>{{ pack.Descriptionpack }}</td>
                                    <td>{{ pack.Prix }}</td>
                                    <td>{{ pack.Date ? pack.Date|date('Y-m-d') : '' }}</td>
                                    <td><img src="{{ asset('uploads/images/' ~ pack.Image) }}" alt="Image" width="200"></td>
                                    <td>
                                        <a href="{{ path('app_pack_show', {'id': pack.id_pack}) }}" class="btn btn-primary">Show</a>
                                    </td>
                                    <td>
                                        <a href="{{ path('app_pack_edit', {'id': pack.id_pack}) }}" class="btn btn-secondary">Edit</a>
                                    </td>
                                    <td>
                                        <form action="{{ path('app_pack_delete', {'id': pack.id_pack}) }}" method="post">
                                            <input type="hidden" name="_method" value="DELETE">
                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pack.id_pack) }}">
                                            <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this item?')">Delete</button>
                                        </form>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="10">No records found</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <a href="{{ path('app_pack_new') }}" class="btn btn-success">Create new</a>
            </div>
        </div>
    </div>
{% endblock %}
