{% extends '/back/baseBack.html.twig' %}
{% block body %}
    <h1>Commentaire</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ commentaire.idcommentaire}}</td>
            </tr>
            <tr>
                <th>Commentaire</th>
                <td>{{ commentaire.commentaire }}</td>
            </tr>
            <tr>
                <th>Date_c</th>
                <td>{{ commentaire.dateC ? commentaire.dateC|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_commentaire_index') }}">back to list</a>

    <a href="{{ path('app_commentaire_edit', {'id': commentaire.idcommentaire}) }}">edit</a>

    {{ include('commentaire/_delete_form.html.twig') }}
{% endblock %}
