{% extends 'back/baseBack.html.twig' %}

{% block title %}Détails du Post{% endblock %}

{% block body %}
<div class="container">
    <header>
        <h1 class="text-center mt-5 mb-4">Détails du Post</h1>
    </header>

    <section class="details-section">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <article class="card bg-light mb-4">
                    <header class="card-header bg-primary text-white">
                        
                    </header>
                    <div class="card-body text-center">
                        {% if post.image_p %}
                            <img src="{{ asset('uploads/images/' ~ post.image_p) }}" alt="Image" class="img-fluid rounded mb-4 border border-primary mx-auto d-block" width="300">
                        {% endif %}
                        <div class="post-details">
                            <p class="post-description">{{ post.description }}</p>
                            <p><strong>Date:</strong> {{ post.dateP ? post.dateP|date('Y-m-d') : '' }}</p>
                        </div>
                    </div>
                    <footer class="card-footer bg-light">
                        <p class="post-date text-muted">{{ post.dateP ? post.dateP|date('Y-m-d') : '' }}</p>
                        <div class="text-center mt-3">
                            <a href="{{ path('app_post_index') }}" class="btn btn-outline-primary mr-2">Retour à la liste</a>
                            <a href="{{ path('app_post_edit', {'id': post.idpost}) }}" class="btn btn-primary mr-2">Modifier</a>
                            {{ include('post/_delete_form.html.twig') }}
                        </div>
                    </footer>
                </article>
            </div>
        </div>
    </section>
</div>
{% endblock %}