{% extends 'back/base.html.twig' %}

{% block body %}
<div class="container">
    <h1>Category Details</h1>

    <div class="card">
        <div class="card-body">
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row">ID</th>
                        <td>{{ categorie.idCategorie }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Name</th>
                        <td>{{ categorie.nomcategorie }}</td>
                    </tr>
                </tbody>
            </table>

            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group mr-2">
                    <a href="{{ path('app_categorie_edit', {'id_categorie': categorie.idCategorie}) }}" class="btn btn-primary">Edit</a>
                </div>
                <div class="btn-group mr-2">
                    <a href="{{ path('app_categorie_index') }}" class="btn btn-secondary">Back to List</a>
                </div>
                <div class="btn-group">
                    {{ include('categorie/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
