{# templates/facture/form.html.twig #}

{{ form_start(form) }}
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            {{ form_label(form.type) }}
            {{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.type) }} {# Display error messages for 'type' field #}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            {{ form_label(form.Date_Debut) }}
            {{ form_widget(form.Date_Debut, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.Date_Debut) }} {# Display error messages for 'Date_Debut' field #}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            {{ form_label(form.Date_Fin) }}
            {{ form_widget(form.Date_Fin, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.Date_Fin) }} {# Display error messages for 'Date_Fin' field #}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            {{ form_label(form.prix) }}
            {{ form_widget(form.prix, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.prix) }} {# Display error messages for 'prix' field #}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            {{ form_label(form.nom) }}
            {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.nom) }} {# Display error messages for 'nom' field #}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            {{ form_label(form.prenom) }}
            {{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.prenom) }} {# Display error messages for 'prenom' field #}
        </div>
    </div>
</div>

<div class="form-group">
    {{ form_label(form.Adresse_mail) }}
    {{ form_widget(form.Adresse_mail, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.Adresse_mail) }} {# Display error messages for 'Adresse_mail' field #}
</div>

<button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
