{% extends 'back.html.twig' %}

{% block title %}Facture index{% endblock %}

{% block body %}
    <h1>Facture index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Date_Debut</th>
                <th>Date_Fin</th>
                <th>Prix</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Adresse_mail</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for facture in factures %}
            <tr>
                <td>{{ facture.id }}</td>
                <td>{{ facture.type }}</td>
                <td>{{ facture.DateDebut ? facture.DateDebut|date('Y-m-d') : '' }}</td>
                <td>{{ facture.DateFin ? facture.DateFin|date('Y-m-d') : '' }}</td>
                <td>{{ facture.prix }}</td>
                <td>{{ facture.nom }}</td>
                <td>{{ facture.prenom }}</td>
                <td>{{ facture.AdresseMail }}</td>
                <td>
                    <a href="{{ path('app_facture_show', {'id': facture.id}) }}"class ="btn btn-primary">show</a>
                    <a href="{{ path('app_facture_edit', {'id': facture.id}) }}"class ="btn btn-success">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_facture_new') }}" class ="btn btn-warning">Create new</a>
{% endblock %}
