<<<<<<< HEAD
{% extends '/back/base.html.twig' %}

{% block title %}Facture Details{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h1 class="card-title text-center mb-0">Facture Details</h1>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th class="text-center" style="width: 30%;">Id</th>
                                    <td class="text-center">{{ facture.id }}</td>
                                </tr>
                                <tr>
                                    <th class="text-center">Type</th>
                                    <td class="text-center">{{ facture.type }}</td>
                                </tr>
                                <tr>
                                    <th class="text-center">Date Debut</th>
                                    <td class="text-center">{{ facture.DateDebut ? facture.DateDebut|date('Y-m-d') : '' }}</td>
                                </tr>
                                <tr>
                                    <th class="text-center">Date Fin</th>
                                    <td class="text-center">{{ facture.DateFin ? facture.DateFin|date('Y-m-d') : '' }}</td>
                                </tr>
                                <tr>
                                    <th class="text-center">Prix</th>
                                    <td class="text-center">{{ facture.prix }}</td>
                                </tr>
                                <tr>
                                    <th class="text-center">Nom</th>
                                    <td class="text-center">{{ facture.nom }}</td>
                                </tr>
                                <tr>
                                    <th class="text-center">Prenom</th>
                                    <td class="text-center">{{ facture.prenom }}</td>
                                </tr>
                                <tr>
                                    <th class="text-center">Adresse Mail</th>
                                    <td class="text-center">{{ facture.AdresseMail }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="text-center mt-4">
                        <a href="{{ path('app_facture_index') }}" class="btn btn-secondary mr-2">Back to List</a>
                        <a href="{{ path('app_facture_edit', {'id': facture.id}) }}" class="btn btn-primary mr-2">Edit</a>
                        {{ include('facture/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
=======
{% extends 'back.html.twig' %}

{% block title %}Facture{% endblock %}

{% block body %}
    <h1>Facture</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ facture.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ facture.type }}</td>
            </tr>
            <tr>
                <th>Date_Debut</th>
                <td>{{ facture.DateDebut ? facture.DateDebut|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Date_Fin</th>
                <td>{{ facture.DateFin ? facture.DateFin|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ facture.prix }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ facture.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ facture.prenom }}</td>
            </tr>
            <tr>
                <th>Adresse_mail</th>
                <td>{{ facture.AdresseMail }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_facture_index') }}"class ="btn btn-primary">back to list</a>

    <a href="{{ path('app_facture_edit', {'id': facture.id}) }}" class ="btn btn-success">edit</a>

    {{ include('facture/_delete_form.html.twig') }}
>>>>>>> 548d40ec88cd07c4e85f14ea41c71c280447db44
{% endblock %}
